body {
    background-color: black;
}
#navbar {
    width: 98%;
    margin: auto;
    height: 40px;
    background-color: blanchedalmond;
    align-items: center;
    display: flex;
}
.cont1 {
    flex-grow: 1;
    padding-left: 30px;
}
.cont2 {
    display: flex;
}
.cont2 > div {
    padding: 8px;
    border: 2px solid black;
    margin: 10px;
   
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
